<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Message</h1>

		<f:flashMessages />

		<table  class="tx_resultifymessagebox" >
		<f:debug>afgadhaddbfda</f:debug>
			<tr>
				<th><f:translate key="tx_resultifymessagebox_domain_model_message.date" /></th>
				<th><f:translate key="tx_resultifymessagebox_domain_model_message.author" /></th>
				<th><f:translate key="tx_resultifymessagebox_domain_model_message.headline" /></th>
				<th><f:translate key="tx_resultifymessagebox_domain_model_message.text" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{messages}" as="message">
				<tr>
					<td><f:link.action action="show" arguments="{message : message}"> {message.date -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{message : message}"> {message.author}</f:link.action></td>
					<td><f:link.action action="show" arguments="{message : message}"> {message.headline}</f:link.action></td>
					<td><f:link.action action="show" arguments="{message : message}"> {message.text}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{message : message}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{message : message}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Message</f:link.action>
	</f:section>
</html>